[user]
	name = Sam S
	email = lytefast@gmail.com

[init]
	defaultBranch = main

[alias]
	lg = log --color --graph --pretty=format:'%C(red)%h%Creset %C(bold blue)<%an>%Creset \t%C(yellow)%d%Creset %s %Cgreen(%cr)' --abbrev=12
	ll = log --color --graph --pretty=format:'%C(red)%h%Creset %C(bold blue)<%an>%Creset \t%C(yellow)%d%Creset %s %Cgreen(%cr)' --decorate --numstat
	alias = config --get-regexp ^alias\\.
	# Get the first matching branch and archive it
	done = "!f() { \
		branch_name=\"$1\"; \
		if [ -z \"$branch_name\" ]; then \
			branch_name=$(git branch --show-current); \
		fi; \
		if [ -z \"$branch_name\" ]; then \
			echo \"No branch specified and no current branch found.\"; \
			exit 1; \
		fi; \
		if [ \"$branch_name\" = \"main\" ]; then \
			echo \"Refusing to archive 'main' branch.\"; \
			exit 1; \
		fi; \
		git switch main >/dev/null 2>&1; \
		git tag \"archived/$branch_name\" \"$branch_name\" && git branch -D \"$branch_name\" >/dev/null 2>&1; \
		echo \"Archived branch $branch_name, current branches:\"; \
		echo \"\"; \
		git branch -v; \
	}; f"

[url "git@github.com:"]
	insteadOf = https://github.com/

[core]
	editor = vim
[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
# [mergetool "code"]
#	cmd = code -n --wait $MERGED
#	trustExitCode = true
[merge]
	tool = code
