[user]
	name = Sam S
	email = lytefast@gmail.com

[alias]
	lg = log --color --graph --pretty=format:'%C(red)%h%Creset %C(bold blue)<%an>%Creset \t%C(yellow)%d%Creset %s %Cgreen(%cr)' --abbrev=12
	ll = log --color --graph --pretty=format:'%C(red)%h%Creset %C(bold blue)<%an>%Creset \t%C(yellow)%d%Creset %s %Cgreen(%cr)' --decorate --numstat
	alias = config --get-regexp ^alias\\.
	# Get the first matching branch and archive it
	done = "!f() { \
			branch_name=$(git branch | grep "$1" | grep -v master | head -n1 | cut -c 3-); \
			if [ $branch_name != '' ]; then\
				echo '== Archiving & Deleting' $branch_name; \
				git tag archived/$branch_name $branch_name \
				&& git branch -D $branch_name; \
				git tag | grep $branch_name && git branch; \
			fi;\
		}; f"

[url "git@github.com:"]
	insteadOf = https://github.com/

[core]
	editor = vim
[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
# [mergetool "code"]
#	cmd = code -n --wait $MERGED
#	trustExitCode = true
[merge]
	tool = code
